
<body>
    <section class="carusel">
        <div class="corusel__container">
            <div class="carusel-item">
                <img class="carusel-item__img" src="img/ariana.jpg" alt="ariana">
                <div class="carusel-item__details">
                    <div class="carousel-item__details--icon">
                        <img src="img/play-icon.png" alt="PLay">
                        <img src="img/plus-icon.png" alt="Plus">
                    </div>
                    <p class="carusel-item__title">Titulo </p>
                    <p class="carusel-item__subtitle">2019</p>
                </div>
            </div>
            <div class="carusel-item">
                <img class="carusel-item__img" src="img/blackpink.jpg" alt="blackpink">
                <div class="carusel-item__details">
                    <div class="carousel-item__details--icon">
                        <img src="img/play-icon.png" alt="PLay">
                        <img src="img/plus-icon.png" alt="Plus">
                    </div>
                    <p class="carusel-item__title">Titulo </p>
                    <p class="carusel-item__subtitle">2019</p>
                </div>
            </div>
            <div class="carusel-item">
                <img class="carusel-item__img" src="img/bts.jpg" alt="bts">
                <div class="carusel-item__details">
                    <div class="carousel-item__details--icon">
                        <img src="img/play-icon.png" alt="PLay">
                        <img src="img/plus-icon.png" alt="Plus">
                    </div>
                    <p class="carusel-item__title">Titulo </p>
                    <p class="carusel-item__subtitle">2019</p>
                </div>
            </div>
            <div class="carusel-item">
                <img class="carusel-item__img" src="img/maluma.jpg" alt="maluma">
                <div class="carusel-item__details">
                    <div class="carousel-item__details--icon">
                        <img src="img/play-icon.png" alt="PLay">
                        <img src="img/plus-icon.png" alt="Plus">
                    </div>
                    <p class="carusel-item__title">Titulo </p>
                    <p class="carusel-item__subtitle">2019</p>
                </div>
            </div>
            <div class="carusel-item">
                <img class="carusel-item__img" src="img/queen.jpg" alt="queen">
                <div class="carusel-item__details">
                    <div class="carousel-item__details--icon">
                        <img src="img/play-icon.png" alt="PLay">
                        <img src="img/plus-icon.png" alt="Plus">
                    </div>
                    <p class="carusel-item__title">Titulo </p>
                    <p class="carusel-item__subtitle">2019</p>
                </div>
            </div>
            <div class="carusel-item">
                <img class="carusel-item__img" src="img/rbd.jpg" alt="rbd">
                <div class="carusel-item__details">
                    <div class="carousel-item__details--icon">
                        <img src="img/play-icon.png" alt="PLay">
                        <img src="img/plus-icon.png" alt="Plus">
                    </div>
                    <p class="carusel-item__title">Titulo </p>
                    <p class="carusel-item__subtitle">2019</p>
                </div>
            </div>
            <div class="carusel-item">
                <img class="carusel-item__img" src="img/infantiles.jpg" alt="infantiles">
                <div class="carusel-item__details">
                    <div class="carousel-item__details--icon">
                        <img src="img/play-icon.png" alt="PLay">
                        <img src="img/plus-icon.png" alt="Plus">
                    </div>
                    <p class="carusel-item__title">Titulo </p>
                    <p class="carusel-item__subtitle">2019</p>
                </div>
            </div>

        </div>
    </section>
</body>